<h1>Photo Details</h1>


<dl>
  <dt>Image</dt>
  <dd>
    <img src="<%=@the_photo.image%>">
  </dd>

  <dt>Caption</dt>
  <dd>
    <%=@the_photo.caption%>
  </dd>

  <dt>Owner</dt>
  <dd>
    <%=@the_photo.owner.username%>
  </dd>

  <dt>Posted</dt>
  <dd>
    Posted <%= time_ago_in_words(@the_photo.created_at) %> ago
  </dd>

  <dt>Likes count</dt>
  <dd><%=@the_photo.likes_count%></dd>

  <dt>Comments count</dt>
  <dd><%=@the_photo.comments_count%></dd>

  <dt>Fans</dt>
  <dd>
    <%the_list=[]%>
    <%@the_photo.fans.each do |the_fan|%>
      <%the_list.append(the_fan.username)%>
    <%end%>
    <%=the_list%>
  </dd>

  <dt>Add a fan</dt>
  <%if current.user not in @the_photo.fans%>
  <dd>
  
    <form action="/insert_like?photo_id=<%=@the_photo.id%>" method="post">
      <input type="hidden" value="777" name="query_photo_id">
      <button>Like</button>
    </form>
  </dd>
  <%else%>
    <dd>
  
    <form action="/delete_like?photo_id=<%=@the_photo.id%>" method="post">
      <input type="hidden" value="777" name="query_photo_id">
      <button>Unlike</button>
    </form>
  </dd>
</dl>

<%if @the_photo.owner.id==current_user.id%>
  <dt>Edit photo</dt>
  <dd>
    <form action="/modify_photo/<%=@the_photo.id%>" method="post">
      <label for="browser_image">Image URL</label>
      <input id="browser_image" type="text" name="query_image" placeholder="Enter a URL for the image..." value="https://robohash.org/utadesse">
    
      <label for="browser_caption">Caption</label>
      <textarea id="browser_caption" name="query_caption" placeholder="Enter a caption for the photo...">Fear cuts deeper than swords.</textarea>
    
      <button>Update photo</button>
    </form>
  </dd>
  <dt>Delete photo</dt>
  <dd>
    <a href="/delete_photo/<%=@the_photo.id%>">
      Delete this photo
    </a>
  </dd>
<%end%>


<h2>Comments (<%=Comment.where({:photo_id=>@the_photo}).count%>)</h2>
<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

<% Comment.where({:photo_id=>@the_photo}).each do |the_comment| %>

    <tr>
      <td>
       <%=the_comment.author.username%>
      </td>

      <td>
        <%=the_comment.body%>
      </td>

      <td>
        Posted <%= time_ago_in_words(the_comment.created_at) %> ago
      </td>
    </tr> 
<%end%>


<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <input type="hidden" value="777" name="query_photo_id">
  
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
