<h1>List of photos</h1>

<%if current_user != nil%>
  <form action="/insert_photo" method="post" class="form-horizontal" enctype="multipart/form-data">
       
      <label for="browser_input_image">
        Image
      </label>

      <input type="file" id="browser_input_image" name="query_image" placeholder="Enter URL for the image..." class="form-control">
    
      <label for="caption_box">
        Caption
      </label>

      <textarea id="caption_box" name="query_caption" rows="2" placeholder="Enter a caption for the photo"></textarea>
    
    <button>
      Add photo
    </button>
  </form>
<%end%>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>
<% @list_of_photos.each do |image1|%>
  <%if image1.owner.private==false%>

  <tr>
        <td>
          <img src="<%= image1.image%>" class="img-responsive">
        </td>
      
        <td>
          <%= image1.caption%>
        </td>
      
        <td>
          <%= image1.owner.username%>
        </td>
      
        <td>
          <%= @now%>
        </td>
      
        <td>
          <%= image1.likes_count%>
        </td>
      
        <td>
          <a href="/photos/<%= image1.id%>">
            Show details
          </a>
        </td>
  </tr>
<%end%>
<%end%>
