<h1>List of users</h1>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th></th>
    <th></th>
  </tr>
<%@list_of_users.each do |user1| %>
      <tr>
      <td>
        <%=user1.username%>
      </td>

      <td>
        <% if user1.private==true%>
          Yes
        <% else %>
          No
        <%end%>
      </td>

      <td>
        <%if current_user !=nil%>
          <%sent_status=FollowRequest.where({:sender_id=>current_user.id,:recipient_id=>user1.id})%>
          <%if sent_status.count>0%>
            <%if sent_status.at(0).status=="accepted"%>
              <a href="/delete_follow_request/<%=sent_status.at(0).id%>">
              Unfollow
              </a>
            <% else %>
              Request sent

              <a href="/delete_follow_request/<%=sent_status.at(0).id%>">
              Cancel
              </a>
            <%end%>
          <% else%>
              
              <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%=user1.id%>">

              <button>
                Follow
              </button>
            </form>
          <%end%>
        <%end%>
      </td>

      <td>
        <a href="/users/<%=user1.username%>">Show details</a>
      </td>
    </tr>
<%end%>
